.movie_list {
  padding: 0;
}
.movie_list .delete {
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  bottom: 410px;
  left: 240px;
  display: none;
}
.movie_list:hover .delete {
  display: block;
}

@media (max-width: 600px) {
  .movie_list {
    padding: 0;
  }
  .movie_list .delete {
    height: 30px;
    width: 30px;
    margin: 0;
    border-radius: 50%;
    position: relative;
    bottom: 190px;
    left: 100px;
    display: none;
    transition: ease-in-out;
  }
  .movie_list:hover .delete {
    display: block;
  }
}
